:root {
  --white: #F5f5f5;
  --yellow: #E9B425;
  --orange: #FE2E05;
  --gray-gray-300: #75767D;
  --gray-gray-600: #2E2F36;
  --gray-gray-900: #17181C;
  --gray-gray-700: #1E1F23;
  --gradient-button: linear-gradient(180deg, #AD2D14 0%, #F42E07 100%);
  --gradient-background: linear-gradient(180deg, #2E2F36 0%, #17181C 100%);
}

* {
  margin: 0;
}